.DescribeItem {
  display: flex;
  flex-direction: column;
  background-color: #0979e9;
  width: 100%;
  margin: 30px 0;
  border: 1px solid #0979e9;
  border-radius: 10px;
  padding: 10px 50px;
  gap: 20px;
  transition: all 0.3s ease-in-out;
}
.PrincipalPhoto {
  width: 600px;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
}
.DescribeItemPhoto {
  height: 690px;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}
.Photorepo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Photorepo img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover !important;
  cursor: pointer;
}
.Photoslide {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
}
.Photoslide img {
  width: 100%;
  height: 100%;
  object-fit: scale-down !important;
  cursor: pointer;
}
.PrincipalDescribePhoto {
  width: auto;
  height: 540px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
.PrincipalDescribePhoto img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  cursor: pointer;
  border-radius: 10px;
}

.DescribeItemDescribe {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}
.DescribeItemDescribe span {
  font-weight: bold;
}
.DescribeItemDescribe #text {
  text-align: justify;
  word-break: normal;
}
.DescribeItemDescribe #mediavideo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.DescribeItemDescribe #mediavideo video {
  display: flex;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 600px;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
}
.UserDescription #mediavideo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.UserDescription #mediavideo img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: scale-down;
  background-color: white;
}
.UserDescription p {
  font-weight: bold;
  padding: 10px 0;
}
.UserDescription #sms {
  cursor: pointer;
}
.UserDescription #sms:hover {
  filter: drop-shadow(-6px 7px 8px red);
}
